<div class="row voffset10">
	<div class="col-md-3"></div>
	<div class="col-md-6" align="center">

		<form class="form-horizontal" ng-submit="login()">
			<fieldset>

				<!-- Form Name -->
				<legend>Login Form - Admin</legend>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="userName">Username<span class="redasterik ">*</span></label>
					<div class="col-md-4">
						<input id="userName" ng-model="userName" type="text"
							placeholder="Enter Username"
							class="form-control input-md" required>
						
					</div>
				</div>

				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password">Password<span class="redasterik ">*</span></label>
					<div class="col-md-4">
						<input id="password" ng-model="password" type="password"
							placeholder="Enter Password" class="form-control input-md"
							required>

					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="submit"></label>
					<div class="col-md-4">
						<button id="submit" name="submit" class="btn btn-primary">Login</button>
					</div>
				</div>

			</fieldset>
		</form>
		<uib-alert type="danger" ng-show="errorMessage!=null"
			class="col-md-6 col-md-offset-3">{{errorMessage}}</uib-alert>

		
	</div>

</div>