<div class="row voffset10">
	<div class="col-md-3"></div>
	<div class="col-md-6" align="center">

		<form class="form-horizontal" ng-submit="loginBranchManager()">
			<fieldset>

				<!-- Form Name -->
				<legend>Login Form - Branch Manager</legend>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="userName">User
						Name<span class="redasterik ">*</span></label>
					<div class="col-md-4">
						<input id="userName" ng-model="userName" type="text"
							placeholder="Enter your username here"
							class="form-control input-md" required>

					</div>
				</div>

				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password">Password<span class="redasterik ">*</span></label>
					<div class="col-md-4">
						<input id="password" ng-model="password" type="password"
							placeholder="Enter password here" class="form-control input-md"
							required>

					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic">Select
						Branch<span class="redasterik ">*</span></label>
					<div class="col-md-4">
						<select id="selectbasic" ng-model="branchName" class="form-control" required>
							<option value="1">Pune_Loc</option>
							<option value="2">Mumbai_loc</option>
						</select>
					</div>
				</div>


				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="submit"></label>
					<div class="col-md-4">
						<button id="submit" name="submit" class="btn btn-primary">Login</button>
					</div>
				</div>


			</fieldset>
		</form>
		
		<uib-alert type="danger" ng-show="errorMessage!=null"
			class="col-md-6 col-md-offset-3">Invalid Credentials</uib-alert>


	</div>

</div>