<div class="row voffset10">
   <div class="col-md-3"></div>
   <div class="col-md-6" align="center">
		<div class="login">
			
			<legend>Create Form - Branch</legend>
			<hr>
			<form class="login-inner" ng-submit="createBranch()" >

				<label class="pull-left">IFSC Code:<span class="redasterik ">*</span> </label>
					<input type="text" class="form-control text" pattern="^[^\s]{4}\d{6}$" 
					title="eg. IFSC code: ANDB000147 as first 4 are alphabets and last 6 are numerics" 
					ng-model="ifscCode" placeholder="Enter IFSC Code" required> 
					
				<label class="pull-left">Branch Name:<span class="redasterik ">*</span> </label>
					<input type="text" class="form-control text" pattern="[A-Za-z]*" title="Enter Characters Only" 
					ng-model="branchName" placeholder="Enter Branch Name" required>
					
				<label class="pull-left">Phone:<span class="redasterik ">*</span> </label>
					<input type="text" class="form-control text" pattern="[0-9]{8,10}" title="Enter Number of 8-10 digits Only" 
					ng-model="phone" placeholder="Enter Phone Number" required>
					 
				<label class="pull-left">Address:<span class="redasterik ">*</span></label>
				<input type="text" class="form-control text" title="Enter Valid Address" pattern=".{3,}" ng-model="address"
					placeholder="Enter Address" required> <br>
					
				<input class="btn btn-block btn-lg btn-primary submit"
					type="submit" value="Create">
			</form><br>
			
			<br><uib-alert type="danger" ng-show="errorMessage!=null"
			class="col-md-6 col-md-offset-3">{{errorMessage}}</uib-alert>

		</div>
	</div>
</div>


	