<div class="row voffset10">
	<div class="col-md-3"></div>
	<div class="col-md-8 col-md-offset-2" align="center">

		<form class="form-horizontal" id="transferMoneyForm"
			ng-submit="transferMoney()">
			<fieldset>

				<!-- Form Name -->
				<legend>Transfer Money</legend>

				<div ng-show="!confirm">

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="userName">Sender
							Account No<span class="redasterik ">*</span>
						</label>
						<div class="col-md-4">
							<select id="selectbasic" ng-model="sender"
								ng-focus="branchFocus=true" ng-blur="branchFocus=false"
								ng-click="getBalance()" class="form-control">
								<option value="">--Select Account--</option>
								<option ng-repeat="account in accounts"
									value="{{account.accountNumber}}">{{account.accountNumber}}</option>

							</select>
						</div>
						<div
							class="col-md-4 btn-info text-left-align btn-sm text-left-align alertBoxHeight"
							ng-show="accBalance!=null && accBalance>=0">
							<i class="fa fa-money"></i>&nbsp;&nbsp;Your Balance
							:{{accBalance}}
						</div>

					</div>


					<!-- long input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="password">Receiver
							Account No<span class="redasterik ">*</span>
						</label>
						<div class="col-md-5">
							<input id="password" ng-model="reciever" type="number"
								placeholder="Receiver account no."
								class="form-control input-md" required>

						</div>
					</div>

					<!-- long input-->
					<div class="form-group has-feedback">
						<label class="col-md-4 control-label" for="password">Amount<span
							class="redasterik ">*</span></label>

						<div class="col-md-5">

							<span class="fa fa-inr rupee-input  form-control-feedback"></span>
							<input id="password" ng-model="amount" type="number"
								placeholder="Enter Amount" class="form-control input-md"
								required>

						</div>

					</div>
			<div class="form-group">
					<label class="col-md-4 control-label" for="submit"></label>
					<div class="col-md-5">
						<button id="" type="button" name="" ng-click="confirm=true"
							
							class="btn btn-primary">Confirm</button>
					</div>
				</div>
				</div>
				
				<div ng-show="confirm">
					<div class="form-group">
						<label class="col-md-4 control-label" for="userName">Sender
							Account No<span class="redasterik ">*</span>
						</label>
						<div class="col-md-5 btn btn-default">
							{{sender}}
													</div>
						

					</div>


					<!-- long input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="password">Receiver
							Account No<span class="redasterik ">*</span>
						</label>
						<div class="col-md-5 btn btn-default">
							{{reciever}}

						</div>
					</div>

					<!-- long input-->
					<div class="form-group has-feedback">
						<label class="col-md-4 control-label" for="password">Amount<span
							class="redasterik ">*</span></label>

						<div class="col-md-5 btn btn-default">

							<span class="fa fa-inr rupee-input"></span>
							{{amount}}
													</div>

					</div>
					
				</div>

				<!-- Button -->
				<div class="form-group" ng-show="confirm">
					<div class="col-md-4">
					<button id="" type="Button" ng-click="confirm=false"
							class="btn btn-primary">Edit Transaction</button>
						
					</div>
					<div class="col-md-4s">
					<button id="submit" type="submit" name="submit"
							ng-disabled="amount==null || sender=='' ||sender == null || reciever ==null"
							class="btn btn-primary">Transfer Money</button>
					</div>
				</div>

			</fieldset>
		</form><!-- 
		<uib-alert type="danger" ng-show="errorMessage!=null"
			class="col-md-6 col-md-offset-3">{{errorMessage}}</uib-alert>


	 --></div>

</div>