

<div class="text-center">
<div class="row voffset10"></div>
   <div class="row">
    	<div class="col-xs-5 col-md-offset-1" ng-repeat="details in userDetails">
			<div class="panel panel-default">
			  <div class="panel-heading">Enquiry Id</div>
				  <div class="panel-body">
				   {{details.id}}
				  </div>
			  </div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">Name </div>
				  <div class="panel-body">
				   {{details.firstName}} {{details.lastName}}
				  </div>
			  </div>
			
			<!-- <div class="panel panel-default">
			  <div class="panel-heading">Last name</div>
				  <div class="panel-body">
				    {{details.lastName}}
				  </div>
			  </div> -->
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">Address</div>
				  <div class="panel-body">
				   {{details.address}}
				  </div>
			  </div>
			  
			  <div class="panel panel-default">
			  <div class="panel-heading">Email</div>
				  <div class="panel-body">
				   {{details.email}}
				  </div>
			  </div>
			  
			   <div class="panel panel-default">
			  <div class="panel-heading">Date of Birth</div>
				  <div class="panel-body">
				   {{details.dateOfBirth | date:'dd/MM/yyyy'}}
				  </div>
			  </div> 
		<button type="button" data-ng-disabled="{{addressProofErrorMessage!=null}}" class="btn btn-danger pull-right" data-ng-click="sendEmail(details.id,'reject')">Reject</button>
		<button type="button" data-ng-disabled="{{addressProofErrorMessage!=null}}" class="btn btn-success pull-left" data-ng-click="sendEmail(details.id,'verify')">Verify</button>	
		
 		</div>
 	
 	
<div class="col-xs-6">

<div class="col-md-2"></div>
 <div class="row" ng-show="addressProofErrorMessage==null">

  <div class="col-sm-7 col-md-9" >
            
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Address Proof" data-image="data:image/JPEG;base64,{{userAddressDocuments}}" 
            data-target="#image-gallery">
                <img class="img-responsive" ng-src="data:image/JPEG;base64,{{userAddressDocuments}}">
            </a>
       </div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
        </div>
    </div>
</div>
</div>

<div class="row"></div>

 <div class="col-md-2"></div>
  
 <div class="row" ng-show="ageProofErrorMessage==null">

  <div class="col-sm-7 col-md-9">
            
    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Age Proof" data-image="data:image/JPEG;base64,{{userAgeDocuments}}" 
         data-target="#image-gallery">
             <img class="img-responsive" ng-src="data:image/JPEG;base64,{{userAgeDocuments}}">
         </a>
       
</div>


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
        </div>
    </div>
</div>
</div>

<div class="row voffset10">
<uib-alert type="danger" ng-show="addressProofErrorMessage!=null"
			class="col-md-7 col-md-offset-3 text-center">{{addressProofErrorMessage}}</uib-alert> <br>


<div class="row voffset10"></div><br> <br>
<uib-alert type="danger" ng-show="ageProofErrorMessage!=null"
			class="col-md-7 col-md-offset-3 text-center">{{ageProofErrorMessage}}</uib-alert>
			

</div>
</div>
</div>

<script src="bower_components/bootstrap/modal.js"> </script> 