<div class="text-center">

	<div class="clear"></div>

	<br>
	<br>

	<div class="panel panel-default col-md-offset-1" ng-show="errorMessageRejected==null">
		<div class="panel-heading active col-md-12">
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" placeholder="Search"
						data-ng-model="name" /> <i
						class="glyphicon glyphicon-search form-control-feedback"></i>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-bordered"
				ng-show="errorMessageRejected==null">

				
				
				
				<thead>
				<tr>
					<th class="text-center">Customer ID</th>
					<th class="text-center">Name</th>
					<th class="text-center">Address</th>
					<th class="text-center">Contact</th>
				</tr>
				</thead>

				<thead>
					<tr ng-repeat="user in userRejectedList | filter:name">
						<td>{{user.id}}</td>
						<td>{{user.firstName}} {{user.lastName}}</td>
						<td>{{user.address}}</td>
						<td>{{user.phone}}</td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="user in verifiedCustomers | filter:name"
						class="text-center">
						<td>{{user.customerId}}</td>
						<td>{{user.firstName}} {{user.lastName}}</td>
						<td>{{user.address}}</td>
						<td>{{user.phone}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<uib-alert type="danger" ng-show="errorMessageRejected!=null"
		class="col-md-7 col-md-offset-3">{{errorMessageRejected}}</uib-alert>



</div>