<div class="text-center">

<div class="clear"> </div>
   <!-- <ul style="list-style:none" class="list-group" ng-show="errorMessageVerified==null">
   
   		<li class="list-group-item" ng-repeat="user in verifiedCustomers">
   			<ul style="list-style:none" class="list-group">
   				<li class="pull-left"> CustomerID: {{user.customerId}}  </li>
   				<br>
   				<li class="pull-left">Name: {{user.firstName}} {{user.lastName}} </li>
   		<li><button type="button" class="btn btn-success pull-right" data-ng-click="viewVerifiedUserDetails(user.id)">View</button></li>
   		</ul>
   		<br>
   		</li>
   </ul> -->

<!-- <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control glyphicon glyphicon-search" placeholder="Search" >
  </div>
</form> -->

<br>
<div class="col-md-11 col-md-offset-1" ng-show="errorMessageVerified==null">
		<div class="form-group has-feedback">
    	<input type="text" class="form-control" placeholder="Search" data-ng-model="name"/>
    	<i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>
</div>
</div> <div class="row"></div><br>
 <table class="table table-bordered" ng-show="errorMessageVerified==null">
 <thead>
      <tr>
        <th  class="text-center">Customer ID</th>
        <th  class="text-center">Name</th>
        <th  class="text-center">Address</th>
        <th  class="text-center">Contact</th>
      </tr>
    </thead>
 	<tbody>
      <tr ng-repeat="user in verifiedCustomers | filter:name" class="text-center"> 
        <td>{{user.customerId}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
      </tr>
     </tbody>
 </table>
  <uib-alert type="danger" ng-show="errorMessageVerified!=null"
			class="col-md-7 col-md-offset-3 text-center">{{errorMessageVerified}}</uib-alert>

  <!-- Pagination --> 
   
  <!--  <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->


</div>