<div class="text-center">

<div class="clear"> </div>
   <!-- <ul style="list-style:none" class="list-group" ng-show="errorMessageRejected==null">
   
   		<li class="list-group-item" ng-repeat="user in userRejectedList">
   			<ul style="list-style:none" class="list-group">
   				<li class="pull-left"> EnquiryID: {{user.id}}  </li>
   				<br>
   				<li class="pull-left">Name: {{user.firstName}} {{user.lastName}} </li>
   		<li><button type="button" class="btn btn-success pull-right" data-ng-click="viewRejectedUserDetails(user.id)">View</button></li>
   		</ul>
   		<br>
   		</li>
   </ul> -->
  
  Search: <input type="text" data-ng-model="name"/>
</div> <div class="row"></div><br>
 <table class="table table-bordered">
 <thead>
      <tr>
        <th  class="text-center">Enquiry ID</th>
        <th  class="text-center">Name</th>
        <th  class="text-center">Address</th>
        <th  class="text-center">Phone</th>
      </tr>
    </thead>
 	<tbody>
      <tr ng-repeat="user in userRejectedList | filter:name">
        <td> {{user.id}} </td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
      </tr>
     </tbody>
 </table>
  
  
  <uib-alert type="danger" ng-show="errorMessageRejected!=null"
			class="col-md-6 col-md-offset-3">{{errorMessageRejected}}</uib-alert>

  <!-- Pagination --> 
   
  <!--  <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->


</div>