

<div class="text-center">

   <div class="row">
    	<div class="col-xs-3" ng-repeat="details in userDetails">
			<div class="panel panel-default">
			  <div class="panel-heading">Enquiry Id</div>
				  <div class="panel-body">
				   {{details.id}}
				  </div>
			  </div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">First name</div>
				  <div class="panel-body">
				   {{details.firstName}}
				  </div>
			  </div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">Last name</div>
				  <div class="panel-body">
				    {{details.lastName}}
				  </div>
			  </div>
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">Address</div>
				  <div class="panel-body">
				   {{details.address}}
				  </div>
			  </div>
			  
			  <div class="panel panel-default">
			  <div class="panel-heading">Email</div>
				  <div class="panel-body">
				   {{details.email}}
				  </div>
			  </div>
		<button type="button" class="btn btn-success pull-right" data-ng-click="sendEmail(details.id)">Verify</button>	
 		</div>
<div class="col-xs-9">

<table class="table table-bordered">
 <thead>
      <tr>
      	<th  class="text-center">Address Proof</th>
      </tr>
    </thead>
 	<tbody>
      <tr>
     	<td> <img ng-src="data:image/JPEG;base64,{{userAddressDocuments}}" height="600" width="600"></td>
       <!--  <td> <img alt="not loaded" ng-src="{{userDocuments}}"></td> -->
      </tr>
     </tbody>
</table>


<table class="table table-bordered">
 <thead>
      <tr>
      	<th  class="text-center">Age Proof</th>
      </tr>
    </thead>
 	<tbody>
      <tr>
     	<td> <img ng-src="data:image/JPEG;base64,{{userAgeDocuments}}"></td>
       <!--  <td> <img alt="not loaded" ng-src="{{userDocuments}}"></td> -->
      </tr>
     </tbody>
</table>
        </div>
    </div>


</div>