<div class="text-center">
<legend>Branches</legend>
<div class="row"></div>
<div class="row col-md-offset-1">
<div class="form-group has-feedback">
    	<input type="text" class="form-control" placeholder="Search" data-ng-model="name"/>
    	<i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>
</div> <div class="row"></div><br>
 <table class="table table-bordered">
 <thead>
      <tr>
        <th  class="text-center">IFSC code</th>
        <th  class="text-center">Branch name</th>
        <th  class="text-center">Address</th>
        <th  class="text-center">Contact</th>
      </tr>
    </thead>
 	<tbody>
      <tr ng-repeat="branch in branches | filter:name">
        <td>{{branch.ifscCode}}</td>
        <td>{{branch.branchName}}</td>
        <td>{{branch.address}}</td>
        <td>{{branch.contact}}</td>
      </tr>
     </tbody>
 </table>
<uib-pagination ng-change="pageChanged()" total-items="50" 
ng-model="currentPage" max-size="numberOfPages" class="pagination-sm" 
boundary-links="true" rotate="false" num-pages="numberOfPages"></uib-pagination>
   		<!-- <pre>Page: {{currentPage+1}} / {{numberOfPages}}</pre> -->
</div>  	
